<div
    class="bg-white shadow-sm p-4 vh-100"
    style="width: 260px;"
>

    <!-- Menu -->

    <ul class="nav flex-column gap-2">

        <li class="nav-item">

            <a class="nav-link active bg-primary text-white rounded-4 px-3 py-3 fw-semibold" href="{% url 'home' %}">
                🏠 Home
            </a>

        </li>

        <li class="nav-item">

            <a class="nav-link text-dark fw-semibold" href="{% url 'profile' %}">
                👤 My Profile
            </a>

        </li>

        <li class="nav-item">

            <a class="nav-link text-dark fw-semibold" href="{% url 'discover_people' %}">
                🔍 Discover People
            </a>

        </li>

        <li class="nav-item">

            <a class="nav-link text-dark fw-semibold" href="{% url 'messages' %}">
                💬 Messages
            </a>

        </li>

        <li class="nav-item">

            <a class="nav-link text-dark fw-semibold" href="{% url 'notifications' %}">
                🔔 Notifications
            </a>

        </li>

        <li class="nav-item">

            <a class="nav-link text-dark fw-semibold" href="{% url 'events' %}">
                📅 Events
            </a>

        </li>

        <li class="nav-item">

            <a class="nav-link text-dark fw-semibold" href="{% url 'clubs' %}">
                👥 Clubs & Societies
            </a>

        </li>

        <li class="nav-item">

            <a class="nav-link text-dark fw-semibold" href="{% url 'student_voice' %}">
                📢 Student Voice
            </a>

        </li>

        <li class="nav-item">

            <a class="nav-link text-dark fw-semibold" href="{% url 'marketplace' %}">
                🛒 Marketplace
            </a>

        </li>

        <li class="nav-item">

            <a class="nav-link text-dark fw-semibold" href="{% url 'resources' %}">
                📚 Resources
            </a>

        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-dark fw-semibold" href="{% url 'lostfound' %}">
                <i class="bi bi-box-seam me-2"></i>
                Lost & Found
            </a>
        </li>

    </ul>


    <!-- Community Box -->


    
    <div class="card border-0 shadow-sm rounded-4 mt-5 p-3 bg-light">

        <h5 class="fw-bold">
            Join the Community
        </h5>

        <p class="text-muted">
            Connect with peers, join events and explore opportunities.
        </p>

        {% if user.is_authenticated %}
            <a class="btn btn-primary rounded-pill" href="{% url 'logout' %}">
                Logout
            </a>
        {% else %}
            <a class="btn btn-primary rounded-pill" href="{% url 'signup' %}">
                Join Now
            </a>
        {% endif %}

    </div>

</div>